Automating Wazuh Alert Incident Notification.json
{
  "name": "Wazuh_Alert_Investigation copy",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "",
              "leftValue": "={{ $json.body.severity }}",
              "rightValue": "1 low",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        -20
      ],
      "id": "",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        -20
      ],
      "id": "",
      "name": "Wazuh Alert",
      "webhookId": ""
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        200
      ],
      "id": "",
      "name": "No Operations"
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "You are the experinced SOC AI Analyst designed by Mariskarthick M, Analyse the following and provide the detailed investigation with the below mentioned format.\n\n#Analyse:\n{{ $json.body.all_fields.full_log }}\n\n#Format:\nAlert Name: \nAlert Description: (describe about that alert)\nMitre Tactic & Technique\nImpacted Scope: Source IP, Destiantion IP, Host Machine\n\nExternal Artificats Reputation check:\n\nAnalysis:\n\nSecurity Recommendations.\n\nPlease make the investigation report in organized way and each fields line by line.\n {{ $json.body }}",
              "prompt": "You are the experinced SOC AI Analyst designed by Mariskarthick M, Analyse the following and provide the detailed investigation with the below mentioned format.\n\n\"{text}\"\n\nconicise summary"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        540,
        -40
      ],
      "id": "",
      "name": "Investigation Summarization"
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ \n  $json.output.text\n    .replaceAll('\\\\', '')                       // Remove escape slashes\n    .replaceAll('*', '')                        // Remove Markdown stars\n    .replaceAll('#', '')                        // Remove Markdown headers\n    .replaceAll('_', '')                        // Remove underscores\n    .replaceAll('[', '')                        // Remove leftover brackets\n    .replaceAll(']', '')                        // Remove closing brackets\n    .replaceAll('(', '(')                       // Retain parentheses\n    .replaceAll(')', ')')\n    .replaceAll('`', '')                        // Remove backticks\n    .replaceAll('  ', ' ')                      // Extra space trim\n    .replaceAll('\\n\\n', '\\n')                   // Collapse double newlines\n    .replaceAll('\\n ', '\\n')                    // Remove leading spaces on lines\n    .replaceAll(' - ', ' — ')                   // Optional: replace dash with em dash for clarity\n    .trim()\n}}\n",
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        920,
        -20
      ],
      "id": "",
      "name": "SOC Team",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        200
      ],
      "id": "717713de-4a80-4b51-910c-3b6a588e2f56",
      "name": "Customized AI Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Investigation Summarization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wazuh Alert": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Investigation Summarization": {
      "main": [
        [
          {
            "node": "SOC Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customized AI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Investigation Summarization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f2786be-474f-4ab6-a41e-391e7427d022",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": [
    {
      "name": "Github",
      "id": "",
      "createdAt": "2025-07-08T08:24:29.609Z",
      "updatedAt": "2025-07-08T08:24:29.609Z"
    }
  ]
}